body {
    font-family: Arial, sans-serif;
    background-image: url('images/Background\ image2.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.8);
}

.form-group {
   margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:5px;
}

label {
    display: block;
    font-weight: bold;
    color: white;
    margin-left: 40px;
    padding: 15px;
}

input[type="text"], input[type="email"], input[type="tel"],input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px ;
    
    margin-left: -25px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transition: 0.5s;
}

